body {
  background: linear-gradient(180deg, #232c47 0%, #30507c 100%);
  color: #eaf6ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 600px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h1 {
  margin-bottom: 10px;
  color: #fafdff;
  letter-spacing: 1px;
  font-size: 2rem;
  z-index: 2;
}

.desc {
  max-width: 420px;
  font-size: 1.06rem;
  margin-bottom: 16px;
  color: #eaf6ff;
  background: rgba(35, 65, 102, 0.18);
  border-radius: 8px;
  padding: 10px 16px;
  line-height: 1.56;
  box-shadow: 0 1px 10px 0 rgba(30,60,100,0.13);
  z-index: 2;
}

#canvas-container {
  border-radius: 14px;
  box-shadow: 0 1px 22px #29366abb;
  background: transparent;
  overflow: hidden;
  margin-bottom: 24px;
  z-index: 2;
}
